<form role="form">
    <div class="form-group">
        <label for="draftid">Tree Root</label>
        <select ng-model="config.id" ng-change="loaddraft(config.id)" ng-options="branch.id as branch.name for branch in tree" class="form-control" id="draftid" placeholder="Select Root Branch..."></select>
        <!-- <input type="text" class="form-control" id="sample" ng-model="config.sample" placeholder="Enter sample"> -->
    </div>

    <a class="card fa fa-file" ng-repeat="branch in tree" ng-click="config.id = branch.id">{{branch.name}}</a>
    <button class="dashed-outline fa fa-4x fa-plus" ng-click="newdraft()"></button>
</form>
