<form role="form">
   <div class="form-group" ui-tree>
        <label for="draftid">Tree Root</label>
        
<ol ui-tree-nodes ng-model="tree.roarlist">
    <li  ui-tree-node ng-repeat="node in tree.roarlist" ng-include="'quicklinkid'" node="{{node}}">
    </li>
</ol>
    </div>

<script type="text/ng-template" id="quicklinkid">
    <div class="card card-rounded" ng-class="{'text-success': (config.id === node.id)}">
    <a class="btn btn-xs" ng-click="toggle(this)" ng-if="node.roarlist" style=""><span class="fa " ng-class="{'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}" style="color:steelblue;transition:all 0.25s ease;"></span></a>

   <a ng-click="config.id = node.id;$close();" ng-class="{'text-success': (config.id === node.id)}" class="fa fa-file-o">&nbsp;{{node.title}}</a>
    </div>
    <ol ui-tree-nodes="" ng-model="node.roarlist" ng-class="{hidden: collapsed}" style="">
        <li class="" ng-repeat="(key, node) in node.roarlist" ui-tree-node ng-include="'quicklinkid'" style="padding-right:0rem;padding-bottom:0.1rem;" node="{{node.id || node.$id || node.$value || node}}" >
        </li>
    </ol>
</script> 
</form>