.llp-memo-draft-basic{
  font-size: 14px;
  h1, h2{
    font-weight:700;
    text-transform: uppercase;
    font-size: 3.4em;
  }
  h3{
    text-transform: capitalize;
    font-weight: 700;
    text-indent: 0.2in;
    font-size: 2.6em;
    & ~ p{ text-indent: 0.2in;}
  }
  h4{
    text-transform: capitalize;
    text-decoration: underline;
    text-indent: 0.4in;
    font-size: 2em;
    & ~ p { text-indent: 0.4in;}
  }
  h5{
    font-style: italic;
    text-indent: 0.6in;
    font-size: 1.6em;
    & ~ p{ text-indent: 0.6in;}
  }
  h6{
    text-indent: 0.8in;
    font-size: 1.2em;
    & ~ p{ text-indent: 0.8in;}
  }
  p{
    font-size: 1em;
    line-height: 1.5em;
  }
  blockquote{
    
  }
  ul,ol,li{
    list-style-type: initial;
  }
} 
a.gototarget:before{
  content: leader('.');
}