
  <div id="tableofcontents" class="card card-default">
                <div class="card-header">
                    <h4 class="card-title" e-form="nameform" editable-text="tree.name" buttons="no" onaftersave="tree.$save();" ng-click="toc.opensubsection(tree)">{{tree.name}}
                    <span class="fa fa-edit" ng-click="nameform.$show()" ng-show="toc.editable"></span>
                    <small class="pull-right">
                      <!--<button class="fa fa-send btn btn-success" ng-click="publish(draft)"></button>-->
                      </small> 
                    <small class="pull-right">
                      <button class="fa fa-plus btn btn-warning" ng-if="toc.editable" ng-click="toc.newtopsection()"></button>
                      <!--<button id="broadcastbutton" title="broadcast" class="fa fa-info btn btn-info " ng-click="toc.broadcast()"></button>-->
                            <switch ng-model="toc.editable" ng-change="toc.togglemode()"  icon="fa fa-globe fa-2x" class="pull-right" disabled style="position:absolute;top:-20px;right:0;"></switch>
                      </small>
                    </h4>
                </div>
                <div class="card-text">
                    <div ui-tree="">
                        <ol ui-tree-nodes max-depth="6" ng-model="tree.roarlist">
                            <li ui-tree-node class="" ng-repeat="(key,node) in tree.roarlist | orderBy: $index " ng-include="'nodes_renderer1.html'" style="padding-right:0rem;padding-bottom:0.1rem;" node="{{node.id || node}}"></li>

                        </ol>
                    </div>
                </div>
            </div>
            <div class="card">
  <div ng-repeat="(key, node) in tree.roarlist" node="{{node.id ||node}}">
    <h4 class="card-title">{{node.title}}</h4>
      <ng-annotate-text text="node.content"></ng-annotate-text>
      <div ng-include="'document.html'" ng-repeat="(key, node) in node.roarlist" node="{{key}}"></div>
  </div>
</div>
            <script type="text/ng-template" id="document.html">
    <h4 class="card-title">{{node.title}}</h4>
      <ng-annotate-text text="node.content"></ng-annotate-text>
      <div ng-include="'document.html'" ng-repeat="(key, node) in node.roarlist" node="{{node.id || node}}"></div>
            </script>
            <div id="draftdocument" class="card card-block card-default">
                <h1 >{{tree.name || tree.title}}</h1>
                <div class="" ng-repeat="node in tree.roarlist" node="{{node.id || node}}" style="padding-right: 0rem;">
                    <h2 class="card-title" style="margin-bottom:0px;font-family:'Arial', sans serif;">{{node.title}}</h2>
                    <ng-annotate-text text="node.content || node.details" class="card-text"></ng-annotate-text>
                   
                    <div class="" ng-repeat="node in node.roarlist" node="{{node.id || node}}" style="padding-right: 0rem;">
                        <h3 class="card-title" style="margin-bottom:0px;font-family:'Arial', sans serif;">{{node.title}}</h3>
                        <ng-annotate-text text="node.content || node.details" class="card-text"></ng-annotate-text>
                        
                        <div class="" ng-repeat="node in node.roarlist" node="{{node.id || node}}" style="padding-right: 0rem;">
                            <h4 class="card-title" style="margin-bottom:0px;font-family:'Arial', sans serif;">{{node.title}} </h4>
                            <ng-annotate-text text="node.content || node.details" class="card-text"></ng-annotate-text>
                           
                            <div class="" ng-repeat="node in node.roarlist" node="{{node.id || node}}" style="padding-right: 0rem;">
                                <h5 class="card-title" style="margin-bottom:0px;font-family:'Arial', sans serif;">{{node.title}}</h5>
                                <ng-annotate-text text="node.content || node.details" class="card-text"></ng-annotate-text>
                                
                                <div class="" ng-repeat="node in node.roarlist" node="{{node.id || node}}" style="padding-right: 0rem;">
                                    <h6 class="card-title" style="margin-bottom:0px;font-family:'Arial', sans serif;">{{node.title}}</h6>
                                    <ng-annotate-text text="node.content || node.details" class="card-text"></ng-annotate-text>
                                    
                                    <div class="" ng-repeat="node in node.roarlist" node="{{node.id || node}}">
                                      <label class="lead"  style="margin-bottom:0px;font-family:'Arial', sans serif;">{{node.title}}</label>
                                      <ng-annotate-text text="node.content ||node.details" class="card-text"></ng-annotate-text>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/ng-template" id="nodes_renderer1.html">
    <div ui-tree-handle class="tree-node tree-node-content">
        <div class="tree-node-content flextoprow mouseoverunderline" style="position:relative;">
            <a class="btn " data-nodrag ng-click="toggle(this)" ng-if="node.roarlist && node.roarlist.length > 0" style="position:absolute;top:1rem;left:0rem;"><span class="fa text-primary" ng-class="{'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}"></span></a>
            <input type="text" ng-model="node.title" ng-change="node.$save();" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" style="padding: 0.5rem;color:#444;"  ng-if="toc.editable">
            <span ng-if="!toc.editable">{{node.title}}</span>
            <a class="btn showonhover" data-nodrag ng-if="toc.editable" ng-click="remove(this);collection.$save();"><span class="fa fa-close text-danger "></span></a>
            <a class="btn " data-nodrag ng-if="toc.editable" ng-click="toc.newsubsection(this)" style="position:absolute;right:0.5rem;top:1rem;"><span class="fa fa-plus text-success"></span></a>
            
            <a class="btn " data-nodrag ng-if="!toc.editable" ng-click="toc.opensubsection(this)" style="position:absolute;right:0.5rem;top:1rem;"><span class="fa fa-chevron-right text-success"></span></a>

        </div>
    </div>
    <ol ui-tree-nodes="" ng-model="node.roarlist" ng-class="{hidden: collapsed}" style="">
        <li class="" ng-repeat="(key, node) in node.roarlist | orderBy: $index track by $index" ui-tree-node ng-include="'nodes_renderer1.html'" style="padding-right:0rem;padding-bottom:0.1rem;" node="{{node.id || node}}">
        </li>
    </ol>
</script>